.message {
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  /* margin: auto; */
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  /* background-color: antiquewhite; */
}
.message h1 {
  position: absolute;
  text-align: center;
  top: 80px;
  color: rgb(119, 119, 218);
}
.message span {
  width: 0px;
  height: 0px;
  /* display: none; */
}

.message input {
  /* margin: auto; */
  width: 40vh;
  height: 40px;
  border-radius: 10px;
  padding-left: 10px;
  border: 2px solid black;
}

.message textarea {
  width: 40vh;
  height: 130px;
  padding-left: 10px;
  padding-top: 6px;
  border-radius: 10px;
  border: 2px solid black;
}
.message .butt {
  position: relative;
  z-index: 9999;
  width: 40vh;
  height: 40px;
  border-radius: 10px;
  border: none;
  /* padding-left: 50px; */
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-weight: 500;
  font-size: 20px;
  /* background-color: rgb(119, 119, 218); */
  background-color: rgb(0, 0, 0);
  background-image: linear-gradient(
    to top,
    rgba(253, 58, 123, 0.367),
    rgba(119, 119, 218, 0.31)
  );
  /* background-color: rgb(119, 119, 218); */
  /* box-shadow: -3px 3px 0px rgb(253, 58, 123); */
  border: 1px solid rgb(253, 58, 123);
  color: white;
}

.message .butt:active {
  background-color: gray;
}

@media screen and (min-width: 700px) {
  .message h1 {
    /* left: 700px; */
  }
}
